*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: NoirStd-Regular;
    justify-content: space-between;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0px 5%;
    background-color: #015768;
}
.logo {
    color: #f0ffff;
    font-family: Odachi;
    font-size: 1.8rem;
    margin-right: 30rem;
    text-decoration: none;
    justify-content: space-evenly;
    list-style: none;
}
nav {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
}
li a {
    text-decoration: none;
    margin: 3rem;
    color: #f0ffff;
    padding: 1rem;
    font: 1rem "NoirStd-Regular";
}
.main-img2{
    background-image: url(cloud.png), url(new-york-page.png), linear-gradient(rgba(5, 5, 5, 0.911),
     rgba(226, 226, 218, 0.767));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
h3{
    background-repeat: no-repeat;
    position: absolute;
    bottom: 40%;
    padding: 50px 0;
    margin-left: 8%;
    text-align: center;
    font-size: 2.5rem;
    color:#FFD369;
    font-weight: bold;

}
h4{
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30%;
    padding: 50px 0;
    margin-left: 8%;
    text-align: center;
    font-size: 1.5rem;
    color: #f0ffff;
    font-weight: bold;
}
.benefits{
    position: absolute;
    top: 80px;
    
    z-index: 5;
    width: 45%;
    padding: 40px 40px;
    width: 100%;
    text-align: center;
    border: 70px;
    text-align: center;
    font-weight: bold;
    padding: 30px 0;
    background-color: #015768;
}
.text1{
    font-size: 3rem;
    color: #f0ffff;
}
.text2{
    font-size: 2rem;
    color: #f0ffff;
    margin-top: 1rem;
}